{{#paper-card as |card|}}
  {{#card.header as |header|}}

    {{#header.text as |text|}}
      {{#text.title}}{{user.name}}{{/text.title}}
    {{/header.text}}
  {{/card.header}}
  {{card.image src=user.photoURL alt=user.name title=user.name}}
  {{#card.content}}
    <p>Number of posts: <strong>{{user.posts.length}}</strong></p>
    <p>Number of comments: <strong>{{user.comments.length}}</strong></p>
  {{/card.content}}
{{/paper-card}}
