<div class="layout-column layout-align-space-around-center">
  {{#each model as |post|}}
    {{post-tile post=post}}
  {{/each}}
</div>
{{session.currentUser.uid}}
{{new-post userid=session.currentUser.uid savePost='savePost'}}
